db/development.sqlite*
db/test.sqlite*
log/*
nbproject/**/*
nbproject/*
*~
*.2010*
#*#
#.*#
screenshot-*.png
results.htm
rerun.txt
tmp/*
tmp/**/*
public/plays.html
public/plays/*
public/monologues.html
public/monologues/*