<h1>Admin</h1>

<table>
  <tr>
    <td colspan="2"><a href="/adminplays">Admin Plays</a></td>
  </tr>
  <tr>
    <td style="width:20px;"></td><td><a href="/plays/new">Add Play</a></td>
  </tr>
  <tr>
    <td style="width:20px;"></td><td><a href="/monologues/new">Add Monologue</a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="/users">Users</a></td>
  </tr>
  <tr>
    <td style="width:20px;"></td><td><a href="/users/new">Add User</a></td>
  </tr>
</table>

<br />

