
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
&nbsp;
<%= paypal_image_form %> <br/>
<span class="small">
  <font face=verdana size='-2'>
    Other ways to help:<br/>
    Click a few ads<br/>
    Buy books <a href="http://shakespeare-monologues.org/store/" target="_blank">here</a>
  </font>
  <!-- Begin FB Like button -->
  <br/>
  <iframe
    src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fshakespare-monologues.org&amp;layout=button_count&amp;show_faces=false&amp;width=150&amp;actionlike&amp;font=verdana&amp;colorscheme=dark" 
    align="bottom"
    scrolling="no"
    allowTrasparency="true"
    frameborder="0" 
    style="border:none; overflow:hidden; width:54px; height:21px;">
    &nbsp; &nbsp;
  </iframe>
  &nbsp; &nbsp;
  <!-- Twitter Badge here -->
  <font size="1">
    <a href="http://twitter.com/ShakesMonos" target="_blank">
      <img src="http://shakespeare-monologues.org/img/twitter.png" border="0" alt="Follow on Twitter" title="Follow on Twitter" align="top" />
    </a>
  </font>
</span>