<%= paypal_image_form %> <br/>
<span class="small">Other ways to help:<br/>
Click a few ads<br/>
Buy books <a href="http://shakespeare-monologues.org/store/" target="_blank">here</a><br/>
<iframe src="http://www.facebook.com/plugins/likebox.php?id=108569596643&amp;width=200&amp;height=85&amp;stream=false&amp;header=false" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:200px; height:85px"></iframe>
</span>