<%= paypal_image_form %> <br/>
<span class="small">Other ways to help:<br/>
Click a few ads<br/>
Buy books <a href="http://shakespeare-monologues.org/store/" target="_blank">here</a><br/>
Tips this month:    $6.00<br/>
From ads in Mar: $25.22 <br/></span>