<p>
  <h2><%=h @gender.name %>'s Monologues in Shakespeare</h2>
</p>

<table cellpadding="8" style="line-height: 160%;"border="1">
  <tr>
    <td style="font-size: 140%;"><b>Comedies</b></td>
    <td style="font-size: 140%;"><b>Histories</b></td>
    <td style="font-size: 140%;"><b>Tragedies</b></td>
  </tr>
  <tr>
    <td style="vertical-align: text-top;">
        <% @comedies.each do |comedy| %>
          <%= link_to comedy.title, play_path(comedy) %><br/>
        <% end %>
    </td>
    <td style="vertical-align: text-top;">
        <% @histories.each do |history| %>
          <%= link_to history.title, play_path(history) %><br/>
        <% end %>
    </td>
    <td style="vertical-align: text-top;">
        <% @tragedies.each do |tragedy| %>
          <%= link_to tragedy.title, play_path(tragedy) %><br/>
        <% end %>
    </td>
  </tr>
</table>
